<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">

<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="bank-styles-app.html">

<dom-module id="bank-new-user-app">


  <template>
    <style include="bank-styles-app">
      :host {
        display: block;
        padding: 10px;
      }
      .wrapper-btns {
        margin-top: 15px;
      }
      paper-button.link {
        color: #757575;
      }
      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }
      input {
        position: relative; /* to make a stacking context */
        outline: none;
        box-shadow: none;
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: 100%;
        background: transparent;
        border: none;
        color: var(--paper-input-container-input-color, var(--primary-text-color));
        -webkit-appearance: none;
        text-align: inherit;
        vertical-align: bottom;
        /* Firefox sets a min-width on the input, which can cause layout issues */
        min-width: 0;
        @apply --paper-font-subhead;
        @apply --paper-input-container-input;
      }
    </style>

    <iron-ajax
          id="registerLoginAjax"
          url="http://localhost:3000/practitioner/v1/user"
          handle-as="json"
          content-type="application/json"
          method="POST"
          loading="{{waiting}}">
    </iron-ajax>
  <app-location route="{{route}}"></app-location>
    <div class="card">
      <div id="unauthenticated" >
        <paper-spinner-lite hidden=[[!waiting]] active="[[waiting]]"></paper-spinner-lite>
        <h1>Nuevo Usuario </h1>
        <paper-input-container>
          <label slot="input">Nombre</label>
          <iron-input slot="input" bind-value="{{formData.first_name}}">
            <input class="input-style" id="nombre" type="texto" value="{{formData.first_name}}" placeholder="Nombre">
          </iron-input>
        </paper-input-container>
        <paper-input-container>
          <label slot="input">Apellidos</label>
          <iron-input slot="input" bind-value="{{formData.last_name}}">
            <input class="input-style" id="ape" type="texto" value="{{formData.last_name}}" placeholder="Apellidos">
          </iron-input>
        </paper-input-container>
        <paper-input-container>
          <label slot="input">Email</label>
          <iron-input slot="input" bind-value="{{formData.email}}">
            <input class="input-style" id="email" type="email" value="{{formData.email}}" placeholder="email">
          </iron-input>
        </paper-input-container>
        <paper-input-container>
          <label slot="input">Password</label>
          <iron-input slot="input" bind-value="{{formData.password}}">
            <input id="password" type="password" value="{{formData.password}}" placeholder="Password">
          </iron-input>
        </paper-input-container>

        <div class="wrapper-btns">
          <paper-button raised class="primary" on-tap="register">Registrar</paper-button>
          <paper-button raised class="primary" on-tap="back">Volver</paper-button>
        </div>
      </div>

    </div>



  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class bankNewUserApp extends Polymer.Element {
      static get is() { return 'bank-new-user-app'; }
      static get properties() {
        return {
            formData: {
                type: Object,
                value: {}
            },
            storedUser: Object,
            error: String,
            waiting:Boolean
        }
      }
      register(){
          console.log("guardar");

          this.$.registerLoginAjax.body = this.formData;
          this.$.registerLoginAjax.generateRequest();
          this.set('route.path', '/login-app');
        }
        back(){
          this.set('route.path', '/login-app');
        }

    }

    window.customElements.define(bankNewUserApp.is, bankNewUserApp);
  </script>
</dom-module>
