<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="bank-404-app">
  <template>
    <style>
      :host {
        display: block;

        padding: 10px 20px;
      }
    </style>

    Oops you hit a 404. <a href="[[rootPath]]">Head back to home.</a>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class bank404App extends Polymer.Element {
      static get is() { return 'bank-404-app'; }
      static get properties() {
        return {
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
        };
      }
    }

    window.customElements.define(bank404App.is, bank404App);
  </script>
</dom-module>
