<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner-lite.html">
<link rel="import" href="bank-styles-app.html">
<link rel="import" href="bank-logout-app.html">
<link rel="lazy-import" href="bank-new-user-app.html">


<dom-module id="bank-login-app">
  <template>
    <style include="bank-styles-app">
      :host {
        display: block;
        padding: 10px;
      }
      .wrapper-btns {
        margin-top: 15px;
      }
      paper-button.link {
        color: #757575;
      }
      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }
      input {
        position: relative; /* to make a stacking context */
        outline: none;
        box-shadow: none;
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: 100%;
        background: transparent;
        border: none;
        color: var(--paper-input-container-input-color, var(--primary-text-color));
        -webkit-appearance: none;
        text-align: inherit;
        vertical-align: bottom;
        /* Firefox sets a min-width on the input, which can cause layout issues */
        min-width: 0;
        @apply --paper-font-subhead;
        @apply --paper-input-container-input;
      }
    </style>

    <iron-ajax
          id="registerLoginAjax"
          url="http://localhost:3000/practitioner/v1/login"
          handle-as="json"
          content-type="application/json"
          method="POST"
          on-response="manageAJAXResponse"
          on-error="showError"
          loading="{{waiting}}">
    </iron-ajax>



    <app-location route="{{route}}"></app-location>

    <div class="card">
      <div id="unauthenticated" >

        <h1>Bienvenido a TechuBank<paper-spinner-lite hidden=[[!waiting]] active="[[waiting]]">      </paper-spinner-lite></h1>


        <template is="dom-if" if="[[error]]">
          <p class="alert-error"><strong>Error:</strong> "[[error]]"</p>
        </template>

        <paper-input-container>
          <label slot="input">Email</label>
          <iron-input slot="input" bind-value="{{formData.email}}">
            <input class="input-style" id="email" type="Email" value="{{formData.email}}" placeholder="Email" required>
          </iron-input>
        </paper-input-container>

        <paper-input-container>
          <label slot="input">Password</label>
          <iron-input slot="input" bind-value="{{formData.password}}">
            <input id="password" type="password" value="{{formData.password}}" placeholder="Password" >
          </iron-input>
        </paper-input-container>

        <div class="wrapper-btns">
          <paper-button raised class="primary" on-tap="_login">Entrar</paper-button>
          <paper-button class="link" on-tap="_Register">Nuevo Usuario</paper-button>
        </div>

      </div>

  </template>

  <script>
    class RegisterLogin extends Polymer.Element {
        static get is() { return 'bank-login-app'; }
        static get properties() {
            return {
                formData: {
                    type: Object,
                    value: {}
                },
                storedUser:{ type:Object
                },
                error: String
            }
        }
        _login(){
          console.log("enviamos peti");
          this.$.registerLoginAjax.body = this.formData;
          this.$.registerLoginAjax.generateRequest();
        }

        _Register(){
          this.set('route.path', '/new-user-app');
        }

        manageAJAXResponse(event) {

            var response = event.detail.response;
            if (response.idUsuario) {
                this.error = '';
                this.storedUser = {

                    idUsuario: response.idUsuario,
                    isLogged: response.isLogged,

                };

                this.dispatchEvent(
                new CustomEvent("stored-User-Event",{bubbles: true, composed: true,
                  detail:{"storedUser" :this.storedUser
                          }
                        }));

                this.set('route.path', '/account-app');
            }
            // reset form data
            this.formData = {};
        }
        showError(event) {

            this.error = "Login incorrecto, email y/o passsword no encontrado";
        }
    }
      window.customElements.define(RegisterLogin.is, RegisterLogin);
  </script>
</dom-module>
