<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<dom-module id="bank-movement-created-app">

        <link rel="import" href="bank-styles-app.html">
  <template>
  <style include="bank-styles-app">
      :host {
        display: block;

        padding: 10px 20px;
      }
    </style>
  <app-location route="{{route}}"></app-location>
  <div class="card">
    <samp>Movimiento creado</samp>
  <paper-button raised class="primary" on-tap="_ok">OK </paper-button>
  </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class movementCreated extends Polymer.Element {
      static get is() { return 'bank-movement-created-app'; }
      static get properties() {
        return {


        };
      }

      _ok(){
        this.set('route.path', '/movement-app');

      }
    }

    window.customElements.define(movementCreated.is, movementCreated);
  </script>
</dom-module>
