<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">

<link rel="import" href="bank-styles-app.html">
<dom-module id="bank-logout-app">
  <template>
    <style include="bank-styles-app">
      :host {
        display: block;
        padding: 10px;
      }
      .wrapper-btns {
        margin-top: 15px;
      }
      paper-button.link {
        color: #757575;
      }
      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }
      input {
        position: relative; /* to make a stacking context */
        outline: none;
        box-shadow: none;
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: 100%;
        background: transparent;
        border: none;
        color: var(--paper-input-container-input-color, var(--primary-text-color));
        -webkit-appearance: none;
        text-align: inherit;
        vertical-align: bottom;
        /* Firefox sets a min-width on the input, which can cause layout issues */
        min-width: 0;
        @apply --paper-font-subhead;
        @apply --paper-input-container-input;
      }
    </style>

<app-location route="{{route}}"></app-location>

<div class="card">
<div id="authenticated" >
  <h2>Hola</h2>
  <p>Acctualmente sigues registrado. Puedes acceder a <a href="/account-app">home</a>!</p>
  <paper-button raised class="primary" on-tap="logout">Log Out </paper-button>
</div>
</div>
                <iron-ajax
                id="doLogout"
                url="http://localhost:3000/practitioner/v1/logout/{{storedUser.idUsuario}}"
                handle-as="json"
                method="POST"
                on-error="showError"
                loading="{{waiting}}">
                <iron-ajax>




  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class bankLogoutApp extends Polymer.Element {
      static get is() { return 'bank-logout-app'; }
      static get properties() {
        return {
          storedUser:Object

        };
      }



        ready () {
        super.ready()
        window.addEventListener('stored-User-Event',(e)=>this._showAccount(e));

        }

        _showAccount(event){
          this.storedUser = event.detail.storedUser;
        }

        logout(){
          console.log("pasa");
          this.$.doLogout.generateRequest();
          this.dispatchEvent(
          new CustomEvent("refresh-logout",{bubbles: true, composed: true,
            detail:{"refresh" :true
                    }
                  }));
this.set('route.path', '/login-app');
        }


    }

    window.customElements.define(bankLogoutApp.is, bankLogoutApp);
  </script>
</dom-module>
