<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">


<link rel="import" href="../bower_components/paper-spinner/paper-spinner-lite.html">
<link rel = "import" href = "../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel = "import" href = "../bower_components/paper-item/paper-item.html">
<link rel = "import" href = "../bower_components/paper-listbox/paper-listbox.html">
<link rel = "import" href = "../bower_components/neon-animation/neon-animation.html">
<link rel="import" href="bank-styles-app.html">

<dom-module id="bank-change-app">
  <template>
  <style include="bank-styles-app">
    :host {
      display: block;
      padding: 10px;
    }
    .wrapper-btns {
      margin-top: 15px;
    }
    paper-button.link {
      color: #757575;
    }
    .alert-error {
      background: #ffcdd2;
      border: 1px solid #f44336;
      border-radius: 3px;
      color: #333;
      font-size: 14px;
      padding: 10px;
    }



  </style>
  <app-location route="{{route}}"></app-location>

    <iron-ajax
      id="getChange"
      url="http://localhost:3000/practitioner/v1/convert/"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageAJAXResponse"
      on-error="showError"
      loading="{{waiting}}">
  </iron-ajax>
  <div class="cardG">

                <div class="cardM">
                  <H1>Cambio de Moneda</H1>
                  <div >
                    <paper-spinner-lite hidden=[[!waiting]] active="[[waiting]]"></paper-spinner-lite>
                  <paper-dropdown-menu id="dropdownMenuM" label="Moneda Origen" bind-value="{{formData.fromCurrency}}" vertical-align="middle" horizontal-align="center">
                           <paper-listbox class = "dropdown-content" selected = "{{formData.fromCurrency}}" slot="dropdown-content" attr-for-selected="value">
                              <paper-item value="EUR">Euro - €</paper-item>
                              <paper-item value="USD">Dolar - $</paper-item>
                              <paper-item value="TRY">Lira - ₺</paper-item>
                           </paper-listbox>
                        </paper-dropdown-menu>
                        <paper-dropdown-menu id="dropdownMenuM" label="Moneda Destino" bind-value="{{formData.toCurrency}}" vertical-align="middle" horizontal-align="center">
                                 <paper-listbox class = "dropdown-content" selected = "{{formData.toCurrency}}" slot="dropdown-content" attr-for-selected="value">
                                    <paper-item value="EUR">Euro - €</paper-item>
                                    <paper-item value="USD">Dolar - $</paper-item>
                                    <paper-item value="TRY">Lira - ₺</paper-item>
                                 </paper-listbox>
                              </paper-dropdown-menu>
                        <input class="input-style" id="MonedaF" type="hidden" value="[[formData.fromCurrency]]" placeholder="Moneda">
                        <input class="input-style" id="MonedaT" type="hidden" value="{{formData.toCurrency}}" placeholder="Moneda">
                        <paper-input-container>
                          <label slot="input">Importe</label>
                          <iron-input slot="input" bind-value="{{formData.amount}}">
                            <input class="input-style" id="Importe" type="number" value="{{formData.amount}}" placeholder="Importe">
                          </iron-input>
                        </paper-input-container>
                        <paper-input-container always-float-label>
                            <label slot="input">Valor de Cambio</label>
                            <iron-input slot="input">
                            <div>[[change.cambio]] </div>
                            </iron-input>
                        </paper-input-container>
                        <paper-input-container always-float-label>
                            <label slot="input">Resultado</label>
                              <iron-input slot="input">
                            <div>[[change.calc]] </div>
                          </iron-input>
                        </paper-input-container>
                    <div class="wrapper-btns">
                      <paper-button raised class="primary" on-tap="exec">Consultar</paper-button>
                      <paper-button raised class="primary" on-tap="close">Cerrar</paper-button>
                    </div>
                  </div>

                </div>
  </div>


    </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class bankChangeApp extends Polymer.Element {
      static get is() { return 'bank-change-app'; }
      static get properties() {
        return {
          formData: {
              type: Object,
              value: {}
          },change :Object
        };
      }
    exec(){
          this.$.getChange.body = this.formData;
           console.log(this.formData);

       this.$.getChange.generateRequest();

    }

      close(){
      this.set('route.path', '/account-app');
      }


    manageAJAXResponse(data){
     console.log("showData change"+ data.detail.response);
    this.set('change', data.detail.response);}
}
    window.customElements.define(bankChangeApp.is, bankChangeApp);
  </script>
</dom-module>
