<link rel="import" href="../bower_components/polymer/polymer-element.html">

<!-- shared styles for all views -->
<dom-module id="bank-styles-app">
  <template>
    <style>
    .drawer-layout {
      background-attachment: fixed;
      background-position: center center;
      background-image: url("../images/Money-coin-economy.jpg");
      }
      .card {
        margin: 24px;
        padding: 16px;
        max-width: 400px;
        color: #757575;
        margin: 0 auto;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }
      .cardM {
        margin: 16px;
        padding: 16px;
        max-width: 500px;
        color: #757575;
        margin: 1 auto;
        margin-left: 30px;
        border-radius: 5px;
        background-color: #e2c76c;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }

      .cardG {
        margin: 24px;
        padding: 16px;
        max-width: 1000px;
        color: #757575;
        margin: 0 auto;
        border-radius: 5px;
        background-color: #F0F7FC;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        opacity: 0.9;
      }

      h1 {
        margin: 16px 0;
        color: #212121;
        font-size: 22px;
      }
      :root {
        --primary-color: #4285f4;
      }
      a,
      paper-button {
        font-weight: bold;
      }
      a {
        color: var(--primary-color);
      }
      paper-button {
        color: #fff;
      }
      paper-button.primary {
        background: var(--primary-color);
      }
      blockquote {
        border-left: 4px solid #eee;
        margin-left: 4px;
        padding-left: 20px;
      }
      input {
        position: relative; /* to make a stacking context */
        outline: none;
        box-shadow: none;
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: 100%;
        background: transparent;
        border: none;
        color: var(--paper-input-container-input-color, var(--primary-text-color));
        -webkit-appearance: none;
        text-align: inherit;
        vertical-align: bottom;
        /* Firefox sets a min-width on the input, which can cause layout issues */
        min-width: 0;
        @apply --paper-font-subhead;
        @apply --paper-input-container-input;
      }
    </style>
  </template>
</dom-module>
