<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="bank-view-user-app">
  <template>
    <iron-ajax

      id="getUser"
      url="http://localhost:3000/practitioner/v1/user/{{storedUser.idUsuario}}"
      handle-as="json"
      on-response="_showData"></iron-ajax>
      <div>{{userData.first_name}} {{userData.last_name}}</div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class bankViewUserApp extends Polymer.Element {
      static get is() { return 'bank-view-user-app'; }
      static get properties() {
        return {
        userData: {type:Object,
                  reflectToAttribute:true,
                 notify:true},
        storedUser:{ type:Object
                    }
        };
      }
      ready () {
  super.ready()
      window.addEventListener('stored-User-Event',(e)=>this._showStoreUser(e));
          window.addEventListener('refresh-logout',(e)=>this._logout(e));
        }

        _showStoreUser(event){
          this.storedUser = event.detail.storedUser;
          this.$.getUser.generateRequest();
      }
      _logout(){
      this.storedUser = null;
      this.userData = null;
    }


      _showData(data){
   this.userData = data.detail.response;
console.log(this.userData);
    }

    }

    window.customElements.define(bankViewUserApp.is, bankViewUserApp);
  </script>
</dom-module>
