<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">


<link rel="import" href="../bower_components/paper-spinner/paper-spinner-lite.html">
<link rel = "import" href = "../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel = "import" href = "../bower_components/paper-item/paper-item.html">
<link rel = "import" href = "../bower_components/paper-listbox/paper-listbox.html">
<link rel = "import" href = "../bower_components/neon-animation/neon-animation.html">

<link rel="import" href="bank-styles-app.html">
<dom-module id="bank-delete-account-app">
  <template>
    <style include="bank-styles-app">
      :host {
        display: block;
        padding: 10px;
      }
      .wrapper-btns {
        margin-top: 15px;
      }
      paper-button.link {
        color: #757575;
      }
      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }



    </style>


      <app-location route="{{route}}"></app-location>
    <iron-ajax
              id="doDelte"
              url="http://localhost:3000/practitioner/v1/account"
              handle-as="json"
              content-type="application/json"
              method="DELETE"
              loading="{{waiting}}"></iron-ajax>
<div class="cardG">

              <div class="cardM">
                <H1>Estas seguro de borrar la cuenta?</H1>
                <div id="unauthenticated" >
                  <paper-spinner-lite hidden=[[!waiting]] active="[[waiting]]"></paper-spinner-lite>

                    <paper-button raised class="primary" on-tap="save">Aceptar</paper-button>
                    <paper-button raised class="primary" on-tap="cancel">Cancelar</paper-button>
                  </div>
                </div>


</div>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class bankDeleteAccountApp extends Polymer.Element {
      static get is() { return 'bank-delete-account-app'; }
      static get properties() {
        return {
            formData: {
                type: Object,
                value: {}
            },
            deleteBody:{type: Object,
            value: {}
        },
            storedUser: Object,

            IBAN: String

        }
      }
      ready () {
  super.ready()
  window.addEventListener('delete-acount',(e)=>this._storedUser(e));

 }

 _storedUser(event){
   this.storedUser = event.detail.storedUser;
   this.IBAN = event.detail.IBAN;

 }

      save(){

            this.deleteBody = {"userid":this.storedUser.idUsuario,
              "IBAN":this.IBAN};
            this.$.doDelte.body = this.deleteBody;
            console.log(this.$.doDelte.body);

            this.$.doDelte.generateRequest();
           this.set('route.path', '/account-app');
          }
      cancel(){
        this.set('route.path', '/account-app');
      }

        }



    window.customElements.define(bankDeleteAccountApp.is, bankDeleteAccountApp);
  </script>
</dom-module>
