<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">


<link rel="import" href="../bower_components/paper-spinner/paper-spinner-lite.html">
<link rel = "import" href = "../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel = "import" href = "../bower_components/paper-item/paper-item.html">
<link rel = "import" href = "../bower_components/paper-listbox/paper-listbox.html">
<link rel = "import" href = "../bower_components/neon-animation/neon-animation.html">

      <link rel="import" href="bank-styles-app.html">
<dom-module id="bank-new-movement-app">
  <template>
    <style include="bank-styles-app">
      :host {
        display: block;
        padding: 10px;
      }
      .wrapper-btns {
        margin-top: 15px;
      }
      paper-button.link {
        color: #757575;
      }
      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }
      input {
        position: relative; /* to make a stacking context */
        outline: none;
        box-shadow: none;
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: 100%;
        background: transparent;
        border: none;
        color: var(--paper-input-container-input-color, var(--primary-text-color));
        -webkit-appearance: none;
        text-align: inherit;
        vertical-align: bottom;
        /* Firefox sets a min-width on the input, which can cause layout issues */
        min-width: 0;
        @apply --paper-font-subhead;
        @apply --paper-input-container-input;
      }


    </style>


      <app-location route="{{route}}"></app-location>
    <iron-ajax
              id="doCreateMovement"
              url="http://localhost:3000/practitioner/v1/movement"
              handle-as="json"
              content-type="application/json"
              method="POST"
              loading="{{waiting}}"></iron-ajax>
          <div class="cardG">
            <div class="cardM">
              <h1>Crear movimiento en: </h1>
              <h2>{{account.IBAN}}</h2>
                <div id="unauthenticated" >
                  <paper-spinner-lite hidden=[[!waiting]] active="[[waiting]]"></paper-spinner-lite>
                      <input class="input-style" id="Pais" type="hidden" value="[[formData.country]]" placeholder="País">
                      <input class="input-style" id="Moneda" type="hidden" value="{{formData.currency}}" placeholder="Moneda">
                  <paper-dropdown-menu id="dropdownMenu" label="Tipo Movimento" bind-value="{{formData.topt}}"vertical-align="middle" horizontal-align="center">
                       <paper-listbox class = "dropdown-content" selected = "{{formData.topt}}" slot="dropdown-content" attr-for-selected="value">
                          <paper-item value="INGRESO">Ingreso</paper-item>
                          <paper-item value="PAGO">Reintegro</paper-item>
                       </paper-listbox>
                    </paper-dropdown-menu>
                    <paper-input-container>
                      <label slot="input">Importe</label>
                      <iron-input slot="input" bind-value="{{formData.amount}}">
                        <input class="input-style" id="Importe" type="number" value="{{formData.amount}}" placeholder="Importe">
                      </iron-input>
                    </paper-input-container>
                    <paper-input-container>
                      <label slot="input">Concepto</label>
                      <iron-input slot="input" bind-value="{{formData.concept}}">
                        <input class="input-style" id="Concepto" type="text" value="{{formData.concept}}" placeholder="Concepto">
                      </iron-input>
                    </paper-input-container>


                  <div class="wrapper-btns">
                    <paper-button raised class="primary" on-tap="save">Guardar</paper-button>
                      <paper-button raised class="primary" on-tap="back">volver</paper-button>
                  </div>

                </div>

              </div>
          </div>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class bankNewMovementApp extends Polymer.Element {
      static get is() { return 'bank-new-movement-app'; }
      static get properties() {
        return {
            formData: {
                type: Object,
                value: {}
            },
            account:{
                type:Array
            },


            error: String,
            storedUser:{ type:Object
              }

        }
      }
      ready () {
  super.ready()
 window.addEventListener('show-movement',(e)=>this._MovementAccount(e));
 window.addEventListener('stored-User-Event',(e)=>this._storedUser(e));
}

_storedUser(event){
  this.storedUser = event.detail.storedUser;
console.log("pasa mario "+ event.detail.storedUser.idUsuario);
}

_MovementAccount(event){

  this.account=event.detail;
  console.log("Pasa por aquí "+event.detail.IBAN);
}
      save(){
console.log("los datos son los siguientes "+   this.storedUser.idUsuario);
     this.formData["IBAN"]=this.account.IBAN;
     this.formData["balance"]=this.account.balance;
     this.$.doCreateMovement.body = this.formData;
      console.log(this.$.doCreateMovement.body);

  this.$.doCreateMovement.generateRequest();
  this.dispatchEvent(
  new CustomEvent("refresh-account",{bubbles: true, composed: true,
    detail:{"storedUser":this.storedUser.idUsuario
            }
          }));

      this.set('route.path', '/movement-created-app');
          }
back(){
this.set('route.path', '/movement-app');
}

        }



    window.customElements.define(bankNewMovementApp.is, bankNewMovementApp);
  </script>
</dom-module>
