<link rel="import" href="../bower_components/polymer/polymer-element.html">

<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">

<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">

<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="../bower_components/iron-icons/iron-icons.html">

<link rel="import" href="bank-styles-app.html">
<link rel="import" href="bank-movement-created-app.html">
<link rel="import" href="bank-movement-app.html">
<link rel="import" href="bank-login-app.html">
<link rel="import" href="bank-404-app.html">
<link rel="import" href="bank-account-app.html">
<link rel="import" href="bank-new-user-app.html">
<link rel="import" href="bank-new-account-app.html">
<link rel="import" href="bank-new-movement-app.html">
<link rel="import" href="bank-logout-app.html">
<link rel="import" href="bank-view-user-app.html">
<link rel="import" href="bank-change-app.html">
<link rel="import" href="bank-delete-account-app.html">






<dom-module id="bank-home-app">
  <template>
  <style include="bank-styles-app">
      :host {
            --app-primary-color: #4285f4;
            --app-secondary-color: black;

            display: block;
          }

          app-drawer-layout:not([narrow]) [drawer-toggle] {
            display: none;
          }

          app-header {
            color: #fff;
            background-color: var(--app-primary-color);
          }

          app-header paper-icon-button {
            --paper-icon-button-ink-color: white;
          }

          .drawer-list {
            margin: 0 20px;
          }

          .drawer-list a {
            display: block;
            padding: 0 16px;
            text-decoration: none;
            color: var(--app-secondary-color);
            line-height: 40px;
          }

          .drawer-list a.iron-selected {
            color: black;
            font-weight: bold;
          }



    </style>



    <app-location
         route="{{route}}"
         url-space-regex="^[[rootPath]]">
     </app-location>

     <app-route
         route="{{route}}"
         pattern="[[rootPath]]:page"
         data="{{routeData}}"
         tail="{{subroute}}">
     </app-route>

     <app-drawer-layout fullbleed narrow="{{narrow}}" class="drawer-layout">
       <!-- Drawer content -->




       <!-- Main content -->
       <app-header-layout has-scrolling-region>

         <app-header slot="header" condenses reveals >
           <app-toolbar>

             <div main-title>TECHUBANK </div>


              <template is="dom-if" if="{{!storedUser.idUsuario}}">

                  <paper-icon-button icon = "perm-identity" on-tap="login"></paper-icon-button>Login
              </template>
              <template is="dom-if" if="{{storedUser.idUsuario}}">
                  <paper-icon-button icon = "perm-identity"> </paper-icon-button> <bank-view-user-app></bank-view-user-app>
                  <paper-icon-button icon = "exit-to-app" on-tap="logout"></paper-icon-button>Salir
              </template>


           </app-toolbar>

         </app-header>

         <iron-pages
             selected="{{page}}"
             attr-for-selected="name"
             fallback-selection="404-app"
             role="main">
           <bank-movement-app name="movement-app"></bank-movement-app>
           <bank-login-app name="login-app"></bank-login-app>
           <bank-logout-app name="logout-app"></bank-logout-app>
           <bank-account-app name="account-app"></bank-account-app>
           <bank-404-app name="404-app"></bank-404-app>
           <bank-new-user-app name="new-user-app"> </bank-new-user-app>
           <bank-new-account-app name="new-account-app"> </bank-new-account-app>
           <bank-new-movement-app name="new-movement-app"> </bank-new-movement-app>
           <bank-movement-created-app name="movement-created-app"> </bank-movement-created-app>
           <bank-change-app name="change-app"> </bank-change-app>
           <bank-delete-account-app name ="delete-account-app"></bank-delete-account-app>
         </iron-pages>


       </app-header-layout>
     </app-drawer-layout>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class bankHomeApp extends Polymer.Element {
      static get is() { return 'bank-home-app'; }
      static get properties() {
          return {
            page: {
              type: String,
              reflectToAttribute: true,
              observer: '_pageChanged',
            },
            routeData: Object,
            subroute: Object,
            // This shouldn't be neccessary, but the Analyzer isn't picking up
            // Polymer.Element#rootPath
            rootPath: String,
            storedUser:{ type:Object,
              reflectToAttribute:true,
                       notify:true }
          };
        }

        ready () {
    super.ready()
window.addEventListener('stored-User-Event',(e)=>this._showStoreUser(e));
    window.addEventListener('refresh-logout',(e)=>this._logout(e));
  }

  _showStoreUser(event){

    this.storedUser = event.detail.storedUser;
}
        static get observers() {
          return [
            '_routePageChanged(routeData.page)',
          ];
        }

        _routePageChanged(page) {


          console.log("cambi de página: " + page);
          this.page = page || 'login-app';



        }

        _pageChanged(page) {

          const resolvedPageUrl = this.resolveUrl('bank-' + page + '.html');
          Polymer.importHref(
              resolvedPageUrl,
              null,
              this._showPage404.bind(this),
              true);
        }

        _showPage404() {
          this.page = '404-app';
        }
        _logout(){
        this.storedUser = null;
      }
      logout(){
        this.set('route.path', '/logout-app');
      }
      login(){
        this.set('route.path', '/login-app');
      }
      }

    window.customElements.define(bankHomeApp.is, bankHomeApp);
  </script>
</dom-module>
