<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="bank-styles-app.html">


<dom-module id="bank-account-app">
  <template is="dom-bind">
      <style include="bank-styles-app">
      :host {
        display: block;
      }
    </style>


    <app-location route="{{route}}"></app-location>
    <iron-ajax

        id="getAccount"
          url="http://localhost:3000/practitioner/v1/account/{{storedUser.idUsuario}}"
          handle-as="json"
          last-response="{{account}}"
          on-response="_showData"
          loading="{{waiting}}"
          >
        </iron-ajax>

 <div class="cardG">
<div><paper-icon-button icon = "autorenew" on-tap="renew"></paper-icon-button>Refrescar
  <paper-icon-button icon = "work" on-tap="newAccount"></paper-icon-button>Crear Cuenta <paper-icon-button icon = "swap-horiz" on-tap="change"></paper-icon-button>Cambio de Divisa</div>

          <template is="dom-repeat" items="{{account}}" as="item" id="acountlist">

               <div class="cardM" id = "{{item.IBAN}}" >

                 <div><paper-icon-button icon = "euro-symbol" on-click="accountSelected" ></paper-icon-button>Ver Movimientos</div>

                   <div >{{item.IBAN}}</div>

                   <div >Balance {{item.balance}} - {{item.currency}}</div>

                   <div>{{item.createdate}}</div>


                       <div hidden={{item.balance}} ><paper-icon-button icon = "delete" on-click="deleteAccount" ></paper-icon-button>Borrar</div>



               </div>
               </template>
</div>



  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class bankAccountApp extends Polymer.Element {
      static get is() { return 'bank-account-app'; }
      static get properties() {
        return {

      account: {
               type: Array,

               value: function(){
                       return [];
             }
           },
           storedUser:{ type:Object,
             reflectToAttribute:true,
                      notify:true }

        };
      }



      ready () {
  super.ready()
 window.addEventListener('stored-User-Event',(e)=>this._showAccount(e));
 window.addEventListener('refresh-account',(e)=>this._reAccount(e));
  window.addEventListener('refresh-logout',(e)=>this._logout(e));
}



_logout(event){


 this.splice("account", 0, this.account.length)
}

_showAccount(event){
  // this.splice("account", 0, this.account.length)
console.log("Muestra cuenta "+ event.detail.storedUser);
  this.storedUser = event.detail.storedUser;

this.$.getAccount.generateRequest();
}

_reAccount(event){
console.log("Refresca la cuenta ");
 this.splice("account", 0, this.account.length)
this.storedUser.idUsuario = event.detail.storedUser;
this.$.getAccount.generateRequest();

}




      _showData(data){
        console.log("Saca datos");
      //  this.account = data.detail.response;
        console.log(this.account);

    this.$.acountlist.render();
    }

    accountSelected(e){

          var model = e.model;
          var idacc = model.get('item.IBAN');
          var balance = model.get('item.balance');

      console.log("showData account  he pulsado "+balance +"  "+ idacc);
      this.dispatchEvent(
      new CustomEvent("show-movement",{bubbles: true, composed: true,
        detail:{"IBAN" :idacc, "balance":balance
                }
              }));

              this.dispatchEvent(
              new CustomEvent("stored-User-Event",{bubbles: true, composed: true,
                detail:{"storedUser" :this.storedUser
                        }
                      }));
               this.set('route.path', '/movement-app');
    }
    newAccount(){
      this.set('route.path', '/new-account-app');
    }

    change(){
      this.set('route.path', '/change-app');
    }

    deleteAccount(e){
        var model = e.model;
        var idacc = model.get('item.IBAN');
        this.dispatchEvent(
        new CustomEvent("delete-acount",{bubbles: true, composed: true,
          detail:{"IBAN" :idacc, "storedUser":this.storedUser
                  }
                }));
                  this.set('route.path', '/delete-account-app');
      }

      renew(){
        this.$.getAccount.generateRequest();
      }

}
    window.customElements.define(bankAccountApp.is, bankAccountApp);
  </script>
</dom-module>
