<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">


<link rel="import" href="../bower_components/paper-spinner/paper-spinner-lite.html">
<link rel = "import" href = "../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel = "import" href = "../bower_components/paper-item/paper-item.html">
<link rel = "import" href = "../bower_components/paper-listbox/paper-listbox.html">
<link rel = "import" href = "../bower_components/neon-animation/neon-animation.html">

<link rel="import" href="bank-styles-app.html">
<dom-module id="bank-new-account-app">
  <template>
    <style include="bank-styles-app">
      :host {
        display: block;
        padding: 10px;
      }
      .wrapper-btns {
        margin-top: 15px;
      }
      paper-button.link {
        color: #757575;
      }
      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }



    </style>


      <app-location route="{{route}}"></app-location>
    <iron-ajax
              id="doCreate"
              url="http://localhost:3000/practitioner/v1/account"
              handle-as="json"
              content-type="application/json"
              method="POST"
              loading="{{waiting}}"></iron-ajax>
<div class="cardG">

              <div class="cardM">
                <H1>Crear cuenta</H1>
                <div id="unauthenticated" >
                  <paper-spinner-lite hidden=[[!waiting]] active="[[waiting]]"></paper-spinner-lite>

                  <paper-dropdown-menu id="dropdownMenu" label="País" bind-value="{{formData.country}}"vertical-align="middle" horizontal-align="center">
                       <paper-listbox class = "dropdown-content" selected = "{{formData.country}}" slot="dropdown-content" attr-for-selected="value">
                          <paper-item value="ES">España</paper-item>
                          <paper-item value="USA">EEUU</paper-item>
                          <paper-item value="TUR">Turkia</paper-item>
                       </paper-listbox>
                    </paper-dropdown-menu>
                <paper-dropdown-menu id="dropdownMenuM" label="Moneda" bind-value="{{formData.currency}}" vertical-align="middle" horizontal-align="center">
                         <paper-listbox class = "dropdown-content" selected = "{{formData.currency}}" slot="dropdown-content" attr-for-selected="value">
                            <paper-item value="EUR">Euro - €</paper-item>
                            <paper-item value="USD">Dolar - $</paper-item>
                            <paper-item value="TRY">Lira - ₺</paper-item>
                         </paper-listbox>
                      </paper-dropdown-menu>
                      <input class="input-style" id="Pais" type="hidden" value="[[formData.country]]" placeholder="País">
                      <input class="input-style" id="Moneda" type="hidden" value="{{formData.currency}}" placeholder="Moneda">

                  <div class="wrapper-btns">
                    <paper-button raised class="primary" on-tap="save">Guardar</paper-button>
                    <paper-button raised class="primary" on-tap="cancel">Cancelar</paper-button>
                  </div>
                </div>

              </div>
</div>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class bankNewAccountApp extends Polymer.Element {
      static get is() { return 'bank-new-account-app'; }
      static get properties() {
        return {
            formData: {
                type: Object,
                value: {}
            },
            storedUser: Object,

            error: String

        }
      }
      ready () {
  super.ready()
  window.addEventListener('stored-User-Event',(e)=>this._storedUser(e));
  window.addEventListener('refresh-account',(e)=>this._storedUser(e));
 }

 _storedUser(event){
   this.storedUser = event.detail.storedUser;

 }

      save(){

          this.formData["userid"]=this.storedUser.idUsuario;
            console.log("guardar     "+this.formData.userid);
            console.log("guardar     "+this.formData.country);
            this.$.doCreate.body = this.formData;
            console.log(this.$.doCreate.body);

            this.$.doCreate.generateRequest();
           this.set('route.path', '/account-app');
          }
      cancel(){
        this.set('route.path', '/account-app');
      }

        }



    window.customElements.define(bankNewAccountApp.is, bankNewAccountApp);
  </script>
</dom-module>
