<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid-sorter.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner-lite.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href = "../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
      <link rel="import" href="bank-styles-app.html">
<dom-module id="bank-movement-app">
  <template>
      <style include="bank-styles-app">
      :host {
        display: block;
      }
    </style>

    <iron-ajax

    id="showmovement"
    url="http://localhost:3000/practitioner/v1/movement/{{account}}"
    handle-as="json"
    content-type="application/json"
    on-error="showError"
    on-response="showData"
    loading="{{cargando}}">
  </iron-ajax>
  <app-location route="{{route}}"></app-location>
  <div class="cardG">
<div ><paper-icon-button icon = "arrow-back" on-tap="back"></paper-icon-button>Volver
  <paper-icon-button icon = "autorenew" on-tap="renew"></paper-icon-button>Refrescar
  <paper-icon-button icon = "payment" on-tap="NewMovement"></paper-icon-button>Nuevo Movimiento
</div>
    <vaadin-grid id="vaaid" items="{{movement}}" page-size="100" hidden="[[cargando]]" >
              <vaadin-grid-column>
                <template class="header">
                  <vaadin-grid-sorter path="cdate">Fecha</vaadin-grid-sorter>
                </template>
                <template><div class$="{{item.topt}}">[[item.cdate]]</div></template>
                </vaadin-grid-column>
                <vaadin-grid-column>
                  <template class="header">Detalle</template>
                  <template><div class$="{{item.topt}}">[[item.concept]]</div></template>
                </vaadin-grid-column>

              <vaadin-grid-column>
                <template class="header">
                  <vaadin-grid-sorter path="topt">Tipo Movimiento</vaadin-grid-sorter>
                </template>
                <template><div class$="{{item.topt}}">[[item.topt]]</div></template>

              </vaadin-grid-column>
              <vaadin-grid-column>
                <template class="header">Importe</template>
                <template >
                  <div class$="{{item.topt}}">[[item.amount]]</div>
                </template>

              </vaadin-grid-column>
              <vaadin-grid-column>
                <template class="header">Balance</template>
                <template >
                  <div class$="{{item.topt}}">[[item.balance]]</div>
                </template>

              </vaadin-grid-column>

      </vaadin-grid>
       <paper-spinner-lite hidden=[[!cargando]] active="[[cargando]]">
  </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class bankMovementApp extends Polymer.Element {
      static get is() { return 'bank-movement-app'; }
      static get properties() {
        return {
          movement: {
                 type: Array
               },
          account:{
              type:Array
          }
        };
      }

      ready () {
  super.ready()
 window.addEventListener('show-movement',(e)=>this._showMovementAccount(e));
//   window.addEventListener('stored-User-Event',(e)=>this._storeUser(e));
}

        _showMovementAccount(event){
          console.log("_showMovementAccount "+ event.detail.IBAN);
        if(event.detail.IBAN){
        this.account=event.detail.IBAN;
        this.$.showmovement.generateRequest();
        this.$.vaaid.render();
        }
        }



      showData(data){
       console.log("showData movement"+ data.detail.response);
      this.set('movement', data.detail.response);
       //this.movement = data.detail.response;
     // this.account = this.movement[0].IBAN;

     }

      back(){
      this.set('route.path', '/account-app');

      }
      NewMovement(){
      this.set('route.path', '/new-movement-app');

      }
      renew(){
      this.$.showmovement.generateRequest();
      }

    }

    window.customElements.define(bankMovementApp.is, bankMovementApp);
  </script>
</dom-module>
